# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# venv
.venv/
venv/

# env
.env
.env.*

# OS/editor
.DS_Store
.vscode/
.idea/

# Node (if any ever returns)
node_modules/
.next/
out/
coverage/
.sfdx/
.sfdx/
